{{ header }}
    <main>
        <article class="content_section">
            <div class="container">
                <h1>{{ heading_title }}</h1>
                <p class="caption_date">Дата публикации: {{ date }}</p>
                <div class="article_content">
                    <div class="img_container">
                        <img src="img/pie_img_article.jpg" alt="Осетинский пирог">
                    </div>
                    <div class="content_text">
                        <div class="content">
                            {{ description }}
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </main>
{{ footer }}