{{ header }}

    <main>
        <section class="content_section card_section card_section_articles">
            <div class="container">
                <h1>{{ sub_title }}</h1>
                {% if articles %}
                <div class="card_list card_list_vertical">
                	{% for article in articles %}
                    <div class="card">
                        <a href="{{ article.href }}" class="img_container">
                            <img src="{{ article.thumb }}" alt="{{ article.title }}">
                        </a>
                        <div class="card_content">
                            <h2 class="card_title">
                                <a href="{{ article.href }}">{{ article.title }}</a>
                            </h2>
                            <p class="caption_date">Дата публикации: {{ article.date_added }}</p>
                            <a href="{{ article.href }}" class="card_description">
                                {{ article.description }}
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {{ pagination }}
            </div>
        </section>
    </main>

{{ footer }}