{{ header }}
    <main>
        <section class="content_section about_section">
            <div class="container">
                <h1>{{ heading_title }}</h1>
                <div class="about_text_img">
                            {{ description }}
                </div>
                {{ content_bottom }}

            </div>
        </section>
    </main>
{{ footer }}