{{ header }}
    <main>
        <section class="content_section delivery_section">
            <div class="container">
                <h1>{{ heading_title }}</h1>
                {{ content_top }}

                {{ description }}
            </div>
        </section>
    </main>
{{ footer }}