{{ header }}

        <main>
            <section class="content_section card_section">
                <div class="container">
                    <h1>{{ sub_title }}</h1>
                    {% if vacancies %}
                    <div class="card_list">
                        {% for vacancy in vacancies %}
                        <div class="card">
                            <a href="{{ vacancy.href }}" class="img_container">
                                <img src="{{ vacancy.thumb }}" alt="{{ vacancy.title }}">
                            </a>
                            <div class="card_content">
                                <h2 class="card_title"><a href="{{ vacancy.href }}">{{ vacancy.title }}</a></h2>
                                <a href="{{ vacancy.href }}">{{ vacancy.description }}</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </section>
        </main>

{{ footer }}